@import url(./global/m_p_0.scss);
// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
:root {
  --background: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}



body {
  background-color: var(--background);
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.container {
  padding: 3em ;
  // width: 100vw;
}
header {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  align-items: center;
  font-family: 'Manrope',sans-serif;
  font-size: 1em;
  margin-bottom: 2em;
  a {
    position: relative;
    left: calc(12%);
    text-decoration: none;
    justify-content: center;
    color: white;
    padding: 1em;
  }
  button {
    background-color: transparent;
    border-radius: 5pt;
    border: 2px solid purple;
    padding: 5px  2.3em;
    color: rgb(228, 228, 228);
    height: 2.5em;
    font-family: 'manrope',sans-serif;
    font-size: 1em;
    font-weight: 700;

  }
}
main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-flow: column;
  h2 {
    font-family: 'Manrope';
    font-size: 6em;
    line-height: .25em;
    font-weight: bolder;
    color: white;
  }
  h2:last-child {
    color: var(--background);
    text-shadow: -1px -1px 0 var(--button),
                  1px -1px 0 var(--button),
                 -1px  1px 0 var(--button),
                  1px  1px 0 var(--button);
  }
  .coffee {
    position: relative;
    bottom: 0;
  }
  .blur_top {
    position: absolute;
    top: 0;
    right: 0;
  }
  .blur_bot {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
